body{
    font-size: 28px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: black;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
  li a:hover {
    background-color: wheat;
}
.active{
    background-color: greenyellow;
}
div.container{
    opacity: 0.9;
}
img{
    width: 2000px;
    height: 750px;
}
.a3{
    position: absolute;
    left: 40%;
    top: 50%;
    color: aqua;
    text-shadow:3px  blue;
    text-align: center;
    opacity: 4;
}
form{
    width: 50%;
    height: 50%;
    border: 2px solid brown;
    margin: 8px;
    padding: 12px 20px;
}
input[type=text]{
    width: 30%;
    padding:20px 12px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 4px;
}
input[type=text]:hover{
    background-color: aqua;
}
input[type=email]{
    width: 30%;
    padding:20px 12px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 4px;
}
input[type=email]:hover{
    background-color: grey;
}
textarea:hover{
    background-color:aquamarine ;
}
input[type=submit]{
    background-color: black;
    padding: 15px 15px;
    cursor: pointer;
    color: whitesmoke;
}
input[type=submit]:hover{
    background-color: chocolate;
}
