#a1{
    color: goldenrod;
}

h2{
    color: greenyellow;
    
}

h1{
    color: rgba(248, 245, 248, 0.986);
}

.a2{
    color: burlywood;
}

.a2,#a1,p,h1{
    background-color: rgb(24, 11, 11);
}
div{
    color: white;
    text-indent: 10px;
    word-spacing: 15px;
    line-height: 20px;
}
.p7{
    height: 325px;
    width: 100%;
}
.divmain{
   background-color: brown;
   height: 700px;
   width: 70%;
   margin-top: 200px;
   margin-left: 10%;
   display: flex;
}
.divmain>div{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    color: grey;
    flex-grow: 1;
}
.subdiv{
    background-color: rgb(27, 12, 12);
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}
.subdiv>div{
    border: 1px solid darkblue;
    margin: 2px;
    height: 50px;
    flex-grow: 1;
}
.subdiv2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.subdiv2>div{
    margin: 2px;
    /* border: 1px solid darkblue; */
    flex-grow: 1;
    height: 50px;
}
.subdiv3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.subdiv3>div{
    margin: 2px;
    /* border: 1px solid darkblue; */
    flex-grow: 1;
    height: 50px;
}