#a1{
    color: goldenrod;
}

h2{
    color: greenyellow;
    
}

h1{
    color: rgba(248, 245, 248, 0.986);
}

.a2{
    color: burlywood;
}

.a2,#a1,p,h1{
    background-color: rgb(24, 11, 11);
}
div{
    color: white;
    text-indent: 10px;
    word-spacing: 15px;
    line-height: 20px;


}